.products-content {
  width: 85%;
}

.products-section {
  justify-items: center;
  grid-gap: 1rem;
}

.products-content-header {
  justify-content: space-between;
}

.categories,
.filter-item {
  font-size: 1.6rem;
  font-weight: 400;
}

.side-bar-title {
  justify-content: space-between;
}

.filter-list {
  font-size: 1.7rem;
  font-weight: 600;
}

.side-bar {
  position: sticky;
  min-height: 100vh;
  height: fit-content;
  top: 7vh;
  overflow: hidden;
}

.sidebar-items {
  overflow-y: scroll;
  height: 80vh;
  overflow-x: hidden;
  padding-bottom: 3rem;
}

.sidebar-items .filter-item .sub-heading {
  cursor: pointer;
}

.price-range {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.filter-bar {
  display: none;
}

.products-banner {
  position: relative;
}

.products-banner-text {
  position: absolute;
  font-family: "Great Vibes", cursive;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.clear-all {
  color: var(--COLOR-PRIMARY-DARK);
}

.card-title,
.quantity {
  color: var(--COLOR-GREY-DARK);
}

.quantity {
  align-self: center;
}

.card.disabled {
  pointer-events: all;
  cursor: pointer;
}

.card.disabled .disabled-btn {
  cursor: deafult !important;
  pointer-events: none !important;
}

/*media queries*/

@media screen and (max-width: 1150px) {
  .products-section {
    grid-gap: 0.2rem;
  }

  .card {
    margin: 0.5rem 0;
  }

  .product-sidebar {
    width: 35%;
  }

  .products-content {
    width: 100%;
    padding: 5rem 2rem;
  }
}

@media screen and (max-width: 850px) {
  .product-sidebar {
    display: none;
    width: 100%;
    transform: translateY(100%);
  }

  .product-sidebar.show-filter {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 10;
    opacity: 1;
    top: 0;
    transform: translateY(0%);
  }

  .products-content {
    width: 100%;
    padding: 5rem 0;
  }

  .products-section {
    margin: 1rem auto;
  }

  .products-banner-text {
    transform: translate(-50%, -20%);
    font-size: 4rem;
  }

  .filter-bar {
    position: fixed;
    bottom: -0.25rem;
    display: flex;
    justify-content: space-evenly;
    height: 5vh;
    background: var(--COLOR-PRIMARY-XLIGHT);
    z-index: 10;
  }
}

@media screen and (max-width: 750px) {
  .card-grid {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    width: 96%;
  }

  .card-img {
    height: 18vh;
  }

  .card-header-text .card-actions {
    padding: 0.75rem;
  }

  .wishlist-content {
    padding: 5rem 0;
    width: 100%;
  }

  .product-content {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .card-icons {
    display: none;
  }

  .card-btns .primary-btn {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .products-banner-text {
    font-size: 3rem;
  }

  .card-rating-overlay {
    bottom: 22rem;
  }
}

@media screen and (max-width: 315px) {
  .card-rating-overlay {
    bottom: 27rem;
  }
}
