.cart-sidebar {
  width: 50%;
}

.card-footer {
  justify-content: space-between;
}

.cart-card-header {
  padding: 2rem;
}

.cart-card-img {
  align-self: start;
}

.cart-list {
  font-size: 1.7rem;
  font-weight: 600;
}

.cart-item {
  font-size: 1.6rem;
  font-weight: 400;
  justify-content: space-between;
}

.promofield {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 4px;
}

.cart-wishlist {
  right: 66%;
  left: unset;
}

.discount-box,
.address-box {
  border: 1px solid black;
  border-radius: 0.75rem;
  padding: 1rem;
  width: 30rem;
}

.address-box {
  width: 100%;
}

/*media queries*/

@media screen and (max-width: 1150px) {
  .cart-card {
    width: 95%;
  }
}

@media screen and (max-width: 850px) {
  .cart-layout {
    flex-wrap: wrap;
  }

  .cart-sidebar {
    position: static;
    width: 100%;
    min-height: 40vh;
    height: fit-content;
  }
}

@media screen and (max-width: 600px) {
  .cart-sidebar {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  .cart-container {
    min-height: 30vh;
  }
}

@media screen and (max-width: 500px) {
  .cart-card-header {
    padding: 1rem 0 0 1rem;
  }

  .cart-card-img,
  .cart-card {
    height: 22rem;
  }

  .quantity-selector,
  .card-text {
    margin-bottom: 1rem;
  }

  .card-price {
    margin-right: 0;
  }
}

@media screen and (max-width: 260px) {
  .cart-card-img,
  .cart-card {
    height: 24rem;
  }
}
