.rating-icon {
  font-size: unset !important;
}

.card-img {
  height: 30vh;
}

.icon-badge {
  height: 2rem;
  width: 2rem;
  bottom: 70%;
  left: 65%;
}

.vd-card .badge-card-tr {
  right: unset;
  margin-left: 2rem;
}

.card-rating-overlay {
  bottom: 20rem;
}

.show-toast {
  z-index: 15;
}

.heart-btn {
  position: absolute;
  left: 85%;
  top: 2%;
  color: var(--COLOR-COMPLEMENTARY-DARK);
  color: var(--RED);
  background: var(--COLOR-GREY-TRANS);
}

.heart-btn:hover {
  color: var(--RED);
}

.flex-1 {
  flex: 1;
}

.line-decoration {
  height: 0.1rem;
  margin: 0.5em 0;
}

.modal {
  max-width: 43rem;
  min-height: 50vh;
  height: fit-content;
}

.address-modal {
  max-width: 55rem;
}

.m-v-05 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.w-5rm {
  width: 5rem;
}

.w-45p {
  width: 45%;
}

.h-5rm {
  height: 5rem;
}

.m-l-auto {
  margin-left: auto;
}

@media screen and (max-width: 1450px) {
  .grid-4-col {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1350px) {
  .grid-4-col {
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .grid-4-col {
    gap: 0;
  }
}
